* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: auto;
  background-image: url(image/backgroundimg.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body > *:not(.navbar) {
  margin-left: 7%;
  margin-right: 7%;
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 190px;
}

.main-text {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: hsla(207, 52%, 54%, 0.836);
}

.logoimg {
  width: 11%;
  height: auto;
  max-width: 15%;
}
.navbar a {
  position: sticky;
  color: white;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 30px;
}

.navbar .nav-links ul li.active a {
  color: blueviolet;
  font-weight: 600;
}

.resume-button {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  height: auto;
  max-width: 40%;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 30px;
  width: 35px;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }
  .navbar .menu-hamburger {
    display: block;
    top: 30%;
  }
  .nav-links {
    top: 0;
    left: -2%;
    position: absolute;
    background-color: #7d688b00;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px;
    font-size: 1em;
  }

  .logoimg {
    width: 10%;
    height: auto;
    max-width: 15%;
    margin: 20px 0 0 25px;
    padding-bottom: 10px;
  }

  .resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajout de la propriété text-align: center; */
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    height: auto;
    max-width: 40%;
  }
}

.pdfcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

/* --> Contact part */

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #9a51cb;
}

.screen-header-button.maximize {
  background: #0e9597;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ae81d7;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ae81d7;
}

.app-contact {
  margin-top: auto;
  font-size: 9px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ae81d7;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #d4c1e6;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/* End of contact part */

/* Responsive part  */

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* End of responsive part */
